header {
    background-color: black;
}
body{ 
    background-color: black;
}
footer {
    background-color: black;
}
h1 { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: lighter;
}
a {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}
h6 {
    color: gray;
    text-align: right;
}
p {
    text-align: center;
    font-size: 21px;
    color: gray;

}
img { 
    align-content: center;
}